:root {
    --bg-dark-1: #2c2c2c;
    --bg-dark-2: #353535;
    --bg-dark-3: #616161;
    --color-1: #f3f3f3;
    --radius-10: 10px;
    --radius-5: 5px;
    --shadow-1: 0px 0px 20px 2px rgba(255,255,255,.9);
}

* {
    box-sizing: border-box;
}

html {
    background: var(--bg-dark-1);
    color: var(--color-1);
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: var(--radius-5);
    font-size: 18px;
}

.btn:hover {
    cursor: pointer;
}